@forward 'variables';
@use 'variables' as *;

@font-face {
    font-family: 'PT Sans';
    src: url('/src/fonts/pt-sans_regular.woff') format('woff'),
        url('/src/fonts/pt-sans_regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('/src/fonts/pt-sans_bold.woff') format('woff'),
        url('/src/fonts/pt-sans_bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/src/fonts/BebasNeue-Regular.otf') format('opentype'),
        url('/src/fonts/BebasNeue-Regular.ttf') format('ttf'),
        url('/src/fonts/BebasNeue-Regular.woff') format('woff'),
        url('/src/fonts/BebasNeue-Regular.woff2') format('woff2');
}

:root {
    --circle-diameter: 530px;
    --circle-button-diameter-small: 6px;
    --circle-button-diameter-large: 56px;
    --segments-carousel-button-diameter: 50px;
    --events-carousel-button-diameter: 40px;
    --animation-duration: 0.6s;
}

* {
    font-family: $font-family-base;
}

body {
    background-color: $color-background-light;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
