$font-family-base: 'PT Sans', sans-serif;
$font-family-accent: 'Bebas Neue', sans-serif;

$color-primary: #42567a;
$color-primary-transparent: #42567a1a;
$color-background-light: #f4f5f9;

$color-year-start: #5d5fef;
$color-year-end: #ef5da8;

$circle-button-border-color: #303e5880;
$separator-color: #c7cdd9;
