@use 'base/reset';
@use 'base/base' as *;

.carousel-widget.swiper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid $color-primary-transparent;
    border-right: 1px solid $color-primary-transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: $color-primary-transparent;
    }

    &::before {
        content: '';
        position: absolute;
        top: $center-crosspoint-top;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-primary-transparent;
    }
}

.carousel-widget__header {
    position: absolute;
    box-sizing: border-box;
    width: 433px;
    height: 134px;
    top: 170px;
    left: 80px;
}

.carousel-widget__header::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 120px;
    top: 8px;
    left: -80px;
    background-image: linear-gradient(#3877ee, #ef5da8);
}

.carousel-widget__title {
    font-weight: bold;
    font-size: 56px;
    color: $color-primary;
    line-height: 1.2;
}

.carousel-widget__circle {
    position: absolute;
    box-sizing: border-box;
    top: $center-crosspoint-top;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    border-radius: 50%;
    border: 1px solid #42567a33;
    z-index: 1;
    transform: translateY(-50%);
}

.carousel-widget__circle-button {
    font-size: 20px;
    position: absolute;
    width: var(--circle-button-diameter-small);
    height: var(--circle-button-diameter-small);
    color: $color-primary;
    border-radius: 50%;
    border: 1px solid #303e5880;
    background-color: $color-primary;
    transform: translate(-50%, -50%);
    transition: all calc(var(--animation-duration) / 2) ease;

    &:hover,
    &--active {
        width: var(--circle-button-diameter-large);
        height: var(--circle-button-diameter-large);
        opacity: 1;
        background-color: $color-background-light;

        .carousel-widget__circle-button-number {
            clip-path: circle(28px);
        }
    }

    &--active {
        .carousel-widget__circle-button-label {
            transition: opacity 0.1s ease var(--animation-duration);
            opacity: 1;
        }
    }
}

.carousel-widget__circle-button-number {
    clip-path: circle(3px);
    transition: clip-path calc(var(--animation-duration) / 2) ease;
}

.carousel-widget__circle-button-label {
    position: absolute;
    font-weight: bold;
    line-height: 30px;
    left: 50%;
    margin-left: calc(var(--circle-button-diameter-large) / 2 + 15px);
    opacity: 0;
    transition: opacity calc(var(--animation-duration) / 2) ease;
}

.carousel-widget__years {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 93px;
    font-weight: bold;
    font-size: 200px;
    margin-right: 34px;
    letter-spacing: -0.02em;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.carousel-widget__year-start {
    color: $color-year-start;
}

.carousel-widget__year-end {
    color: $color-year-end;
}

.carousel-widget__navigation-buttons {
    position: relative;
    align-self: start;
    margin-left: 80px;
    bottom: 49px;
    font-size: 14px;
}

.carousel-widget__navigation-button {
    position: relative;
    width: var(--segments-carousel-button-diameter);
    height: var(--segments-carousel-button-diameter);
    margin-top: 21px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #42567a80;
    line-height: 0;

    &--prev {
        margin-right: 16px;
    }

    &:hover,
    &:active {
        background-color: white;
    }

    &--prev.swiper-button-disabled,
    &--next.swiper-button-disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.carousel-widget__slides-wrapper.swiper-wrapper {
    height: 245px;
    width: 100%;
}

.carousel-widget__slide.swiper-slide {
    padding-top: 6px;
    display: flex;
}

.carousel-widget__nested-carousel.swiper {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-widget__nested-carousel-list.swiper-wrapper {
    display: flex;
    cursor: pointer;
}

.carousel-widget__nested-carousel-slide.swiper-slide {
    width: 320px;
    flex-shrink: 0;
    user-select: none;
}

.carousel-widget__nested-carousel-slide-title {
    color: #3877ee;
    font-family: $font-family-accent;
    font-size: 25px;
    line-height: 120%;
    margin-bottom: 15px;
}

.carousel-widget__nested-carousel-slide-text {
    font-size: 20px;
    color: $color-primary;
    line-height: 30px;
}

.carousel-widget__nested-carousel-navigation-button {
    position: relative;
    margin: 0 20px;
    transform: translateY(40px);
    flex-shrink: 0;
    width: var(--events-carousel-button-diameter);
    height: var(--events-carousel-button-diameter);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);
    pointer-events: auto;

    &--prev.swiper-button-disabled,
    &--next.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
    }
}
